# Ignore the roop_env folder
roop_env/

# Ignore everything in the uploads folder
uploads/*

# Except the .gitkeep file
!uploads/.gitkeep

# Ignore inswapper_128.onnx
inswapper_128.onnx

# Ignore __pycache__
 roop/__pycache__/
